/* HOME PAGE SPECIFIC STYLES */

section {
    text-align: center;
}

.button {
    margin: 0 auto;
    margin-top: 20px;
}
/* -------------------  MOBILE  --------------------- */


/* -------------------  TABLET  --------------------- */
@media (min-width: 768px) {

}

/* -------------------  DESKTOP  -------------------- */

@media (min-width: 1224px) {
}

/* -------------------  LARGE SCREENS  -------------- */

@media (min-width: 1824px) {
}
